<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881905052836-1m98p1fr17nb5c4ph1q84j4umn1iqqtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881905052836-1m98p1fr17nb5c4ph1q84j4umn1iqqtv</string>
	<key>API_KEY</key>
	<string>AIzaSyBrwTbxjbhWYlBwNa-zp7VirbnwwuP9ohA</string>
	<key>GCM_SENDER_ID</key>
	<string>881905052836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meibaps.Newsly</string>
	<key>PROJECT_ID</key>
	<string>newsly-e9853</string>
	<key>STORAGE_BUCKET</key>
	<string>newsly-e9853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881905052836:ios:38b3a174dde164a3680a31</string>
	<key>DATABASE_URL</key>
	<string>https://newsly-e9853.firebaseio.com</string>
</dict>
</plist>